<?php
/** @var Custobar\CustoConnector\Block\Adminhtml\Status $block */
?>
<div data-bind="scope: 'statusScope'">
    <script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "statusScope": {
                        "component": "Custobar_CustoConnector/status",
                        "jsParams":{
                            "AjaxUrl":"<?php echo $block->getData(
            'check_url'
        ); ?>"
                        }
                    }
                }
            }
        }
    }

    </script>
    <style>
        .flash {
            animation-name: flash;
            animation-duration: 0.2s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-play-state: running;
        }

        @keyframes flash {
            from {
                color: transparent;
            }
            to {
                color: black;
            }
        }
    </style>
    <p><strong>NOTE:</strong><br>Schedules will be purged during cron cycles.
        Please check that crons are configured correctly.
    </p>
    <p>Queue below will be purged after all initial processed are finished. </p>
    <p style="margin: 0;">In queue: <span data-bind="text: queued()">-</span>
        <span class="flash" data-bind="text: fetching()"></span></p>
    <p style="margin: 0;">Has errors: <span data-bind="text: errors()">-</span>
        <span class="flash" data-bind="text: fetching()"></span></p>
    <p style="margin: 0; font-size: 11px;">Schedules with errors will be cleared
        after <?php echo \Custobar\CustoConnector\Helper\Data::MAX_ERROR_COUNT ?>
        tries</p>
</div>
