<?php
/** @var $block \Magento\Backend\Block\Widget\Button\SplitButton */
?>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "processorScope": {
                        "component": "Custobar_CustoConnector/processor",
                        "jsParams":{
                            "AjaxUrl":"<?php echo $block->getData('callback_url'); ?>",
                            "AjaxCancelUrl":"<?php echo $block->getData('callback_cancel_url'); ?>"
                        }
                    }
                }
            }
        }
    }
</script>
<style>
    /*.actions-split {
        float: right;
        top: -4em;
    }
    .action-default.primary {

    }
    .action-default.primary > span:first-child{
        min-width: 17em;
        display: inline-block;
    }*/
    .flash {
        animation-name: flash;
        animation-duration: 0.2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-play-state: running;
    }

    @keyframes flash {
        from {color: transparent;}
        to {color: black;}
    }
</style>
<div class="page-actions-buttons">
    <div <?php echo $block->getAttributesHtml(); ?>>
        <div data-bind="scope: 'processorScope'">
            <button <?php echo $block->getButtonAttributesHtml(); ?> data-bind="click: process, clickBubble: false, enable: notProcessing">
                <span><span><?php echo __('Initialize scheduling queue for all model types'); ?></span></span>
            </button>
        </div>
        <?php if ($block->hasSplit()): ?>
            <button <?php echo $block->getToggleAttributesHtml() ?>>
                <span>Select</span>
            </button>

            <?php if (!$block->getDisabled()): ?>
                <ul class="dropdown-menu" <?php /* @escapeNotVerified */ echo $block->getUiId("dropdown-menu"); ?> data-bind="scope: 'processorScope'">
                    <?php foreach ($block->getOptions() as $key => $option): ?>
                    <li data-bind="click: process, clickBubble: false" data-model="<?php echo $key; ?>">
                        <span <?php echo $block->getOptionAttributesHtml($key, $option); ?>>
                            only <?php echo $block->escapeHtml($option['label']); ?>
                        </span>
                        <?php if (isset($option['hint'])): ?>
                        <div class="tooltip" <?php /* @escapeNotVerified */ echo $block->getUiId('item', $key, 'tooltip'); ?>>
                            <a href="<?php echo $block->escapeHtml($option['hint']['href']) ?>" class="help">
                                <?php echo $block->escapeHtml($option['hint']['label']) ?>
                            </a>
                        </div>
                        <?php endif; ?>
                    </li>
                    <?php endforeach; ?>
                </ul>
            <?php endif; ?>
        <?php endif; ?>
    </div>

    <div data-bind="scope: 'processorScope'">
        <button data-bind="click: cancelprocess, clickBubble: false, enable: isProcessing">
            <span><span><?php echo __('Cancel initial'); ?></span></span>
        </button>
    </div>
</div>
<div class="action-monitor" data-bind="scope: 'processorScope'">
    <p style="margin: 0;">Running: <span data-bind="text: callIndicator()">-</span> <span class="flash" data-bind="text: fetchIndicator()"></span></p>
    <p style="margin: 0;">Message: <span data-bind="text: message()">-</span> <span class="flash" data-bind="text: fetchIndicator()"></span></p>
    <p style="margin: 0;">Error: <span data-bind="text: error()">-</span> <span class="flash" data-bind="text: fetchIndicator()"></span></p>
</div>
<script>
require(['jquery'], function($){
        $('.actions-split')
            .on('click.splitDefault', '.action-default', function() {
                $(this).siblings('.dropdown-menu').find('.item-default').trigger('click');
            });
});
</script>
